header{
    width: 100%;
    background-color: #243550;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.logo-image{
    width: 110px;
    height: 90px;
    background-image: url(./images/logo.png);
}
.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.menu li a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 15px;
}